In [49]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_excel(r"full_indonesia_list.xlsx")
df.tail()

,Unnamed: 0,name,location,province,rating,label,reviews,price,bed,price for,stars_count,city
28161,NaN,ELOHIM HOTEL SENTANI,Jayapura,PAPUA,NaN,NaN,NaN,"Rp 585,000","3 beds (2 twins, 1 full)","1 night, 2 adults",1,KOTA JAYAPURA
28162,NaN,d'Hawaii Homestay,Ifaar,PAPUA,NaN,NaN,NaN,"Rp 518,182",3 queen beds,"1 night, 2 adults",0,KOTA JAYAPURA
28163,NaN,RedDoorz near Sentani Airport Jayapura,Jayapura,PAPUA,7.3,Good,3 reviews,"Rp 285,000",1 queen bed,"1 night, 2 adults",0,KOTA JAYAPURA
28164,NaN,Horison Express Sentani,Jayapura,PAPUA,NaN,NaN,NaN,"Rp 672,746",NaN,NaN,0,KOTA JAYAPURA
28165,NaN,RedDoorz Syariah near Sentani City Square,Weversdorp,PAPUA,NaN,NaN,NaN,"Rp 280,800",1 full bed,"1 night, 2 adults",1,KOTA JAYAPURA

In [48]:
df.iloc[4950,11].lower().replace(',', '').split()

['jakarta', 'timur']

In [40]:
df.iloc[4950,2].lower().replace(',', '').split()

['central', 'jakarta', 'jakarta']

In [62]:
def compare_all(x,y):
    if all(i in x.lower().replace(',', '').split() for i in y.lower().replace(',', '').split()):
        print("Duplicates found.")
    else:
        print("No duplicates found.")

In [61]:
def compare_any(x,y):
    if any(i in x.lower().replace(',', '').split() for i in y.lower().replace(',', '').split()):
        print("Duplicates found.")
    else:
        print("No duplicates found.")

In [59]:
compare_any(df.iloc[4950,2],df.iloc[4950,11])

TypeError: 'list' object is not callable

In [60]:
any=[]
all=[]
for j in range(len(df)):
    any.append(compare_any(df.iloc[j,2],df.iloc[j,11]))
    all.append(compare_all(df.iloc[j,2],df.iloc[j,11]))
print(any)

TypeError: 'list' object is not callable